<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsSite.styles.css" asp-append-version="true" />
</head>
@{
    var currentTheme = ViewBag.Theme ?? "light";
    var chosenOne=ViewBag.ChosenCategory;
    var theme = Context.Request.Cookies["UserPreference"] ?? "light";
}
<body class="theme-@theme">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Маркер</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="dropdown nav-item">
                            <span class="align-content-center nav-link">Категории</span>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" name="chosenOne" value="Bulgaria">България</a>
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" name="chosenOne" value="World">Светът</a>
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" name="chosenOne" value="Politics">Политика</a>
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" name="chosenOne" value="Economy">Икономика</a>
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" name="chosenOne" value="Sports">Спорт</a>
                            </div>
                        </li>

                        <li class="dropdown nav-item text-dark">
                            <span class="align-content-center nav-link">Tеми</span>
                            <form class="dropdown-content" asp-controller="Home">
                                <label>
                                    <input type="radio" name="theme" value="light" @currentTheme="light"/>Светла<br/>
                                    <input type="radio" name="theme" value="dark" @currentTheme="dark"/>Тъмна
                                </label>
                                <button type="submit" asp-controller="Home" asp-action="ChangeTheme">Запази</button>
                            </form>
                        </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Index">My articles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Create">Write an article</a>
                                </li>
                            }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NewsSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
