@model NewsSite.Models.Account.LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="form-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="form-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <input type="checkbox" asp-for="RememberMe" value="true" class="form-check-input" />
        <span asp-validation-for="RememberMe" class="form-check-label">Remember me</span>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
   
</form>