@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<a asp-action="Create" class="btn btn-success">Add a role</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Role name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td><a asp-action="Edit" asp-route-id="@role.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
