html {
  font-size: 14px;
}
@media (max-width:2000px){
    .homepage-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border-radius: 45px;
    }
    @media (max-width:1100px) {
        .homepage-grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            border-radius: 45px;
        }
        @media (max-width:980px) {
            .homepage-grid-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(5, 1fr);
                border-radius: 45px;
            }
        }
    }

}

.date{

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.theme-light {
   background-color: floralwhite;
   color: black;
}

.theme-dark {
    background-color: darkblue;
    color: lawngreen;
}